CREATE  TABLE dbo.DimSalesTerritory( SalesTerritoryKey  int IDENTITY(1,1) NOT NULL,
 SalesTerritoryAlternateKey  int NULL,
 SalesTerritoryRegion  nvarchar(50) NOT NULL,
 SalesTerritoryCountry  nvarchar(50) NOT NULL,
 SalesTerritoryGroup  nvarchar(50) NULL,
 SalesTerritoryImage  varbinary NULL)
