CREATE  TABLE dbo.DimAccount( AccountKey  int IDENTITY(1,1) NOT NULL,
 ParentAccountKey  int NULL,
 AccountCodeAlternateKey  int NULL,
 ParentAccountCodeAlternateKey  int NULL,
 AccountDescription  nvarchar(50) NULL,
 AccountType  nvarchar(50) NULL,
 Operator  nvarchar(50) NULL,
 CustomMembers  nvarchar(300) NULL,
 ValueType  nvarchar(50) NULL,
 CustomMemberOptions  nvarchar(200) NULL)
