CREATE  TABLE dbo.FactResellerSales( ProductKey  int IDENTITY(1,1) NOT NULL,
 OrderDateKey  int NOT NULL,
 DueDateKey  int NOT NULL,
 ShipDateKey  int NOT NULL,
 ResellerKey  int NOT NULL,
 EmployeeKey  int NOT NULL,
 PromotionKey  int NOT NULL,
 CurrencyKey  int NOT NULL,
 SalesTerritoryKey  int NOT NULL,
 SalesOrderNumber  nvarchar(20) NOT NULL,
 SalesOrderLineNumber  tinyint NOT NULL,
 RevisionNumber  tinyint NULL,
 OrderQuantity  smallint NULL,
 UnitPrice  money NULL,
 ExtendedAmount  money NULL,
 UnitPriceDiscountPct  float NULL,
 DiscountAmount  float NULL,
 ProductStandardCost  money NULL,
 TotalProductCost  money NULL,
 SalesAmount  money NULL,
 TaxAmt  money NULL,
 Freight  money NULL,
 CarrierTrackingNumber  nvarchar(25) NULL,
 CustomerPONumber  nvarchar(25) NULL,
 OrderDate  datetime NULL,
 DueDate  datetime NULL,
 ShipDate  datetime NULL)
