CREATE  TABLE dbo.DimOrganization( OrganizationKey  int IDENTITY(1,1) NOT NULL,
 ParentOrganizationKey  int NULL,
 PercentageOfOwnership  nvarchar(16) NULL,
 OrganizationName  nvarchar(50) NULL,
 CurrencyKey  int NULL)
