CREATE  TABLE dbo.ProspectiveBuyer( ProspectiveBuyerKey  int IDENTITY(1,1) NOT NULL,
 ProspectAlternateKey  nvarchar(15) NULL,
 FirstName  nvarchar(50) NULL,
 MiddleName  nvarchar(50) NULL,
 LastName  nvarchar(50) NULL,
 BirthDate  datetime NULL,
 MaritalStatus  nchar NULL,
 Gender  nvarchar(1) NULL,
 EmailAddress  nvarchar(50) NULL,
 YearlyIncome  money NULL,
 TotalChildren  tinyint NULL,
 NumberChildrenAtHome  tinyint NULL,
 Education  nvarchar(40) NULL,
 Occupation  nvarchar(100) NULL,
 HouseOwnerFlag  nchar NULL,
 NumberCarsOwned  tinyint NULL,
 AddressLine1  nvarchar(120) NULL,
 AddressLine2  nvarchar(120) NULL,
 City  nvarchar(30) NULL,
 StateProvinceCode  nvarchar(3) NULL,
 PostalCode  nvarchar(15) NULL,
 Phone  nvarchar(20) NULL,
 Salutation  nvarchar(8) NULL,
 Unknown  int NULL)
