CREATE  TABLE dbo.DimDate( DateKey  int IDENTITY(1,1) NOT NULL,
 FullDateAlternateKey  date NOT NULL,
 DayNumberOfWeek  tinyint NOT NULL,
 EnglishDayNameOfWeek  nvarchar(10) NOT NULL,
 SpanishDayNameOfWeek  nvarchar(10) NOT NULL,
 FrenchDayNameOfWeek  nvarchar(10) NOT NULL,
 DayNumberOfMonth  tinyint NOT NULL,
 DayNumberOfYear  smallint NOT NULL,
 WeekNumberOfYear  tinyint NOT NULL,
 EnglishMonthName  nvarchar(10) NOT NULL,
 SpanishMonthName  nvarchar(10) NOT NULL,
 FrenchMonthName  nvarchar(10) NOT NULL,
 MonthNumberOfYear  tinyint NOT NULL,
 CalendarQuarter  tinyint NOT NULL,
 CalendarYear  smallint NOT NULL,
 CalendarSemester  tinyint NOT NULL,
 FiscalQuarter  tinyint NOT NULL,
 FiscalYear  smallint NOT NULL,
 FiscalSemester  tinyint NOT NULL)
