CREATE  TABLE dbo.FactSurveyResponse( SurveyResponseKey  int IDENTITY(1,1) NOT NULL,
 DateKey  int NOT NULL,
 CustomerKey  int NOT NULL,
 ProductCategoryKey  int NOT NULL,
 EnglishProductCategoryName  nvarchar(50) NOT NULL,
 ProductSubcategoryKey  int NOT NULL,
 EnglishProductSubcategoryName  nvarchar(50) NOT NULL,
 Date  datetime NULL)
